.tenis{
    background:green;
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

p{
    font-size: 30px;
}

.tenis-items{
    width:300px;   
}

.texto-centralizado{
    text-align:center;
    background:gray;
    padding:40px 0;
    font-weight:bold;
    text-transform:uppercase;
    font-family:Impact;
}
